Repository aws-powertools/aws-lambda-powertools-python, changes with the labels that .github/labeler.yml gives for each.
All labels: area/utilities, area/logger, area/tracer, area/metrics, documentation, internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed af9853f7 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.3.1a9
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a9/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 8180f1e2 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/Dockerfile
  develop/sitemap.xml.gz
Labels: none

Deployed eb91a5d6 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

chore(ci): new pre-release 3.3.1a10
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a10/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Fix command
  docs/index.md
Labels: documentation

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 33609b97 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.3.1a11
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a11/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed b7d55fbb to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.3.1a12
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a12/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): new pre-release 3.3.1a13
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a13/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 94f0faf6 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Deployed fcffed3a to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/Dockerfile
Labels: none

chore(ci): new pre-release 3.3.1a14
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a14/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 0553e606 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.3.1a15
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a15/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 2a1882d0 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.3.1a16
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a16/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 9c563704 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Add deprecated parameter with default to BaseRouter.get
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Add parameter with default to BaseRouter.route
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Pass deprecated param from .get() into .route()
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Add param and pass along for post, put, delete, patch, head
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Add param and pass along for ApiGatewayRestResolver.route
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Ditto for Route.__init__, use when creating operation metadata
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

.github/labeler.yml:

# Label general purpose utilities
area/utilities:
  - aws_lambda_powertools_python/utilities/*
  - aws_lambda_powertools_python/utilities/**/*
  - aws_lambda_powertools_python/middleware_factory/*
  - aws_lambda_powertools_python/middleware_factory/**/*

# Label core utilities
area/logger:
  - aws_lambda_powertools_python/logging/*
  - aws_lambda_powertools_python/logging/**/*  

area/tracer:
  - aws_lambda_powertools_python/tracing/*
   - aws_lambda_powertools_python/tracing/**/*
 
area/metrics:
  - aws_lambda_powertools_python/metrics/*
   - aws_lambda_powertools_python/metrics/**/*
 
documentation:
  - docs/*
  - ./mkdocs.yml
 
internal:
  - ./Makefile
  - ./CHANGELOG.md
  - ./CONTRIBUTING.md
