Repository aws-powertools/aws-lambda-powertools-python, changes with the labels that .github/labeler.yml gives for each.
All labels: area/utilities, area/logger, area/tracer, area/metrics, documentation, internal

.github/labeler.yml:

# Label general purpose utilities
area/utilities:
  - aws_lambda_powertools_python/utilities/*
  - aws_lambda_powertools_python/utilities/**/*
  - aws_lambda_powertools_python/middleware_factory/*
  - aws_lambda_powertools_python/middleware_factory/**/*

# Label core utilities
area/logger:
  - aws_lambda_powertools_python/logging/*
  - aws_lambda_powertools_python/logging/**/*  

area/tracer:
  - aws_lambda_powertools_python/tracing/*
   - aws_lambda_powertools_python/tracing/**/*
 
area/metrics:
  - aws_lambda_powertools_python/metrics/*
   - aws_lambda_powertools_python/metrics/**/*
 
documentation:
  - docs/*
  - ./mkdocs.yml
 
internal:
  - ./Makefile
  - ./CHANGELOG.md
  - ./CONTRIBUTING.md

chore(ci): new pre-release 3.4.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a2/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 7dec99a9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.4.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a3/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 9470916f to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.4.1a4
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a4/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

docs(home): fix date typo and shorten message.
  docs/overrides/main.html
Labels: none

Deployed 7ff2754f to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

Fixing an error in AppSync resolver event
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/parser/parser.py
  tests/events/appSyncCustomResolverEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
  tests/functional/parser/test_parser.py
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 844a77e3 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): new pre-release 3.4.1a5
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a5/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed ff317619 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.4.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a6/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed c03e83c9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.4.1a7
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a7/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed e29e290f to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.4.1a8
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a8/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed c1f602cc to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.4.1a9
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a9/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed eb435685 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

docs(community): data masking blog post
  docs/we_made_this.md
Labels: documentation

Removing bumping temporarly
  Makefile
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

add custom mask functionalities
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Labels: none

Deployed c91d7dfd to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

change flags name to more intuitive
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Labels: none

fix type check error
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Labels: none

chore(ci): new pre-release 3.4.1a10
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a10/multiple.intoto.jsonl
  pyproject.toml
Labels: none
