Repository aws-powertools/aws-lambda-powertools-python, changes with the labels that .github/labeler.yml gives for each.
All labels: area/utilities, area/logger, area/tracer, area/metrics, documentation, internal

Deployed d1f7db65 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Merging from develop
  noxfile.py
Labels: none

CDK 2.167.0
  layer_v3/poetry.lock
  layer_v3/pyproject.toml
  poetry.lock
  pyproject.toml
Labels: none

Should not run CDK tests with all python version
  .github/workflows/quality_code_cdk_constructor.yml
  layer_v3/layer_constructors/layer_stack.py
Labels: none

Should not run CDK tests with all python version - Python 3.12
  .github/workflows/quality_code_cdk_constructor.yml
  layer_v3/layer_constructors/tests/unit/test_new_cdk_constructor_stack.py
Labels: none

chore(ci): new pre-release 3.2.1a15
  aws_lambda_powertools/shared/version.py
  provenance/3.2.1a15/multiple.intoto.jsonl
  pyproject.toml
Labels: none

Deployed 6d075892 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/automation/index.html
  develop/includes/_layer_homepage_arm64/index.html
  develop/includes/_layer_homepage_x86/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/parser/index.html
  develop/versioning/index.html
Labels: none

chore(ci): bump version to 3.3.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Fix CDK version + imports
  layer_v3/layer/layer_stack.py
  layer_v3/layer_constructors/layer_stack.py
  package-lock.json
  package.json
Labels: none

chore(ci): bump version to 3.3.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

Fix CDK version + imports
  layer_v3/layer/layer_stack.py
Labels: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

chore(ci): bump version to 3.3.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

Fix mypy warnings
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
Labels: none

Update docs
  docs/utilities/data_classes.md
  poetry.toml
Labels: none

Add Unencrypted Artifact Test
  tests/unit/data_classes/_boto3/test_code_pipeline_job_event.py
Labels: none

Docs for Python 3.13
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  docs/upgrade.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Labels: documentation

Deployed f22e7c6e to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/includes/_layer_homepage_arm64/index.html
  develop/includes/_layer_homepage_x86/index.html
  develop/index.html
  develop/search/search_index.json
  develop/upgrade/index.html
Labels: none

Deployed f22e7c6e to 3.3.0 with MkDocs 1.6.1 and mike 2.1.3
  3.3.0/core/logger/index.html
  3.3.0/core/metrics/datadog/index.html
  3.3.0/core/metrics/index.html
  3.3.0/core/tracer/index.html
  3.3.0/includes/_layer_homepage_arm64/index.html
  3.3.0/includes/_layer_homepage_x86/index.html
  3.3.0/index.html
  3.3.0/search/search_index.json
  3.3.0/upgrade/index.html
Labels: none

chore(ci): new pre-release 3.3.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a0/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed f3c3b8e1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): new pre-release 3.3.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a1/multiple.intoto.jsonl
  pyproject.toml
Labels: none

Balancing layers Python 3.13 in GovCloud
  .github/workflows/layer_govcloud_python313.yml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed cfcccd9e to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

deleting poetry.toml file
  poetry.toml
Labels: none

add a comment to explain none type for boto3
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
Labels: none

fix the comment to explain none type for boto3
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
Labels: none

Deployed b99884ec to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/utilities/data_classes/index.html
Labels: none

remove the aws: from the SelfManagedKafka
  aws_lambda_powertools/utilities/parser/models/kafka.py
  tests/events/kafkaEventSelfManaged.json
Labels: none

chore(ci): new pre-release 3.3.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a2/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Adding exception handler support
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync.py
Labels: none

Deployed 3ff5132b to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Adding exception handler support - fix tests
  tests/functional/event_handler/required_dependencies/appsync/test_appsync.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Labels: none

Adding exception handler support - fix tests + docs
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/exception_handling_graphql.py
Labels: none

.github/labeler.yml:

# Label general purpose utilities
area/utilities:
  - aws_lambda_powertools_python/utilities/*
  - aws_lambda_powertools_python/utilities/**/*
  - aws_lambda_powertools_python/middleware_factory/*
  - aws_lambda_powertools_python/middleware_factory/**/*

# Label core utilities
area/logger:
  - aws_lambda_powertools_python/logging/*
  - aws_lambda_powertools_python/logging/**/*  

area/tracer:
  - aws_lambda_powertools_python/tracing/*
   - aws_lambda_powertools_python/tracing/**/*
 
area/metrics:
  - aws_lambda_powertools_python/metrics/*
   - aws_lambda_powertools_python/metrics/**/*
 
documentation:
  - docs/*
  - ./mkdocs.yml
 
internal:
  - ./Makefile
  - ./CHANGELOG.md
  - ./CONTRIBUTING.md
