Repository aws-powertools/aws-lambda-powertools-python, changes with the labels that .github/labeler.yml gives for each.
All labels: area/utilities, area/logger, area/tracer, area/metrics, documentation, internal

.github/labeler.yml:

# Label general purpose utilities
area/utilities:
  - aws_lambda_powertools_python/utilities/*
  - aws_lambda_powertools_python/utilities/**/*
  - aws_lambda_powertools_python/middleware_factory/*
  - aws_lambda_powertools_python/middleware_factory/**/*

# Label core utilities
area/logger:
  - aws_lambda_powertools_python/logging/*
  - aws_lambda_powertools_python/logging/**/*  

area/tracer:
  - aws_lambda_powertools_python/tracing/*
   - aws_lambda_powertools_python/tracing/**/*
 
area/metrics:
  - aws_lambda_powertools_python/metrics/*
   - aws_lambda_powertools_python/metrics/**/*
 
documentation:
  - docs/*
  - ./mkdocs.yml
 
internal:
  - ./Makefile
  - ./CHANGELOG.md
  - ./CONTRIBUTING.md

get_multiple order
  aws_lambda_powertools/utilities/parameters/ssm.py
Labels: none

improv: Adds pydantic-settings for v3 Layer
  poetry.lock
  pyproject.toml
Labels: none

chore(ci): new pre-release 3.2.1a11
  aws_lambda_powertools/shared/version.py
  provenance/3.2.1a11/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Changing highlights + import
  docs/utilities/parser.md
  examples/parser/src/bring_your_own_envelope.py
  examples/parser/src/custom_data_model_with_eventbridge.py
  examples/parser/src/envelope_with_event_parser.py
  examples/parser/src/field_validator.py
  examples/parser/src/getting_started_with_parser.py
  examples/parser/src/model_validator.py
  examples/parser/src/parser_function.py
  examples/parser/src/serialization_parser.py
  examples/parser/src/string_fields_contain_json.py
Labels: none

Changing highlights + import
  .github/workflows/quality_check.yml
Labels: none

Changing highlights + import
  docs/utilities/parser.md
  examples/parser/src/field_validator_all_values.py
  examples/parser/src/sqs_model_event.py
  examples/parser/src/string_fields_contain_json.py
  examples/parser/src/string_fields_contain_json_pydantic_validator.py
Labels: none

Deployed 3688a2a3 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Addressing Andrea's feedback
  docs/utilities/parser.md
Labels: none

Deployed e8d48599 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/utilities/parser/index.html
Labels: none

Improving docs
  .github/workflows/quality_check.yml
  .github/workflows/quality_code_cdk_constructor.yml
Labels: none

chore(ci): new pre-release 3.2.1a12
  aws_lambda_powertools/shared/version.py
  provenance/3.2.1a12/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Initial commit for Python 3.13
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/publish_v3_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  .github/workflows/run-e2e-tests.yml
  Makefile
  aws_lambda_powertools/utilities/parser/models/cloudformation_custom_resource.py
  docs/automation.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  docs/versioning.md
  examples/batch_processing/src/pydantic_kinesis.py
  layer/sar/template.txt
  poetry.lock
  pyproject.toml
  tests/e2e/utils/infrastructure.py
Labels: documentation, internal

Initial commit for Python 3.13
  .github/workflows/publish_v3_layer.yml
  examples/batch_processing/src/pydantic_kinesis.py
Labels: none

Initial commit for Python 3.13
  mypy.ini
Labels: none

Make mypy happy
  aws_lambda_powertools/utilities/parameters/dynamodb.py
Labels: none

Constructor initial changes
  layer_v3/layer_constructors/layer_stack.py
Labels: none

Constructor initial changes
  .github/workflows/quality_code_cdk_constructor.yml
Labels: none

Docker folder
  layer_v3/docker/Dockerfile
  layer_v3/docker/install_libraries.sh
Labels: none

Deployed 71ad8325 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

More changes
  .github/workflows/quality_code_cdk_constructor.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  docs/index.md
  docs/tutorial/index.md
  docs/upgrade.md
  layer_v3/docker/Dockerfile
  layer_v3/layer/canary_stack.py
  layer_v3/layer/layer_stack.py
  layer_v3/layer_constructors/layer_stack.py
  layer_v3/layer_constructors/tests/unit/test_new_cdk_constructor_stack.py
  pyproject.toml
  tests/e2e/utils/infrastructure.py
Labels: documentation

More changes
  layer_v3/docker/Dockerfile
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

More changes
  layer_v3/layer_constructors/layer_stack.py
Labels: none

Accepting TypeAdapter instance when using parser
  aws_lambda_powertools/utilities/parser/functions.py
  tests/functional/parser/test_parser.py
Labels: none

Deployed 429dbe3a to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 68ddf3e2 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.2.1a13
  aws_lambda_powertools/shared/version.py
  provenance/3.2.1a13/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed 4a016af4 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Adding warning when dimension name or value is empty
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Strip empty chars
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  docs/core/metrics.md
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Labels: none

Strip empty chars
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
Labels: none

Deployed d111f3a4 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

Deployed f8fe2a3c to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/metrics/index.html
  develop/search/search_index.json
Labels: none

chore(ci): new pre-release 3.2.1a14
  aws_lambda_powertools/shared/version.py
  provenance/3.2.1a14/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal
