Repository aws-powertools/aws-lambda-powertools-python, changes with the labels that .github/labeler.yml gives for each.
All labels: area/utilities, area/logger, area/tracer, area/metrics, documentation, internal

.github/labeler.yml:

# Label general purpose utilities
area/utilities:
  - aws_lambda_powertools_python/utilities/*
  - aws_lambda_powertools_python/utilities/**/*
  - aws_lambda_powertools_python/middleware_factory/*
  - aws_lambda_powertools_python/middleware_factory/**/*

# Label core utilities
area/logger:
  - aws_lambda_powertools_python/logging/*
  - aws_lambda_powertools_python/logging/**/*  

area/tracer:
  - aws_lambda_powertools_python/tracing/*
   - aws_lambda_powertools_python/tracing/**/*
 
area/metrics:
  - aws_lambda_powertools_python/metrics/*
   - aws_lambda_powertools_python/metrics/**/*
 
documentation:
  - docs/*
  - ./mkdocs.yml
 
internal:
  - ./Makefile
  - ./CHANGELOG.md
  - ./CONTRIBUTING.md

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

add draft documentation
  docs/utilities/data_masking.md
  examples/data_masking/src/custom_data_masking.py
Labels: none

change doc examples
  aws_lambda_powertools/utilities/data_masking/base.py
  docs/utilities/data_masking.md
  examples/data_masking/src/custom_data_masking.py
Labels: none

chore(ci): new pre-release 3.4.1a11
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a11/multiple.intoto.jsonl
  pyproject.toml
Labels: none

Deployed e958d7b0 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/we_made_this/index.html
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

style: format code with black
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Labels: none

fix format base
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Labels: none

add tests for new masks
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  tests/unit/data_masking/_aws_encryption_sdk/test_unit_data_masking.py
Labels: none

Deployed 2224aa8e to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Fixing dependency resolution
  Makefile
  docs/we_made_this.md
  poetry.lock
  pyproject.toml
Labels: documentation, internal

Fixing dependency resolution
  .github/workflows/quality_check.yml
  .github/workflows/run-e2e-tests.yml
  Makefile
Labels: internal

Deployed 2364fb12 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/event_handler/bedrock_agents/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/data_masking/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/we_made_this/index.html
Labels: none

Fixing dependency resolution
  examples/event_handler_graphql/src/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/requirements.txt
Labels: none

Improving security
  .github/workflows/bootstrap_region.yml
  .github/workflows/layer_govcloud.yml
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/update_ssm.yml
Labels: none

Improving security
  .github/workflows/run-e2e-tests.yml
Labels: none

Improving security
  .github/workflows/layer_govcloud_python313.yml
Labels: none

Improving security
  .github/workflows/dispatch_analytics.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_deploy_v3_sar.yml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Making Ruff happy
  ruff.toml
Labels: none

Improving security
  .github/workflows/publish_v3_layer.yml
Labels: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

chore(ci): bump version to 3.4.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

Adding pages permission
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_publish_docs.yml
Labels: none

Adding pages permission
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_publish_docs.yml
Labels: none

Release v3.4.1
  aws_lambda_powertools/shared/version.py
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
  pyproject.toml
Labels: documentation

Deployed ee7b1102 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/includes/_layer_homepage_arm64/index.html
  develop/includes/_layer_homepage_x86/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): new pre-release 3.4.2a0
  aws_lambda_powertools/shared/version.py
  provenance/3.4.2a0/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

sub header for custom mask in docs
  docs/utilities/data_masking.md
Labels: none

masking rules to handle complex nest
  aws_lambda_powertools/utilities/data_masking/base.py
Labels: none

add test for masking rules
  tests/unit/data_masking/_aws_encryption_sdk/test_unit_data_masking.py
Labels: none

chore(ci): new pre-release 3.4.2a1
  aws_lambda_powertools/shared/version.py
  provenance/3.4.2a1/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

fix(parser): identitySource is optional for ApiGatewayAuthorizerRequestV2
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  tests/unit/parser/_pydantic/test_apigwv2.py
Labels: none
