Repository aws-powertools/aws-lambda-powertools-python, changes with the labels that .github/labeler.yml gives for each.
All labels: area/utilities, area/logger, area/tracer, area/metrics, documentation, internal

feat: release to ap-southeast-5
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Labels: none

remove exceptions not needed
  tests/functional/parser/test_parser.py
Labels: none

remove error handling from decorator
  aws_lambda_powertools/utilities/parser/parser.py
Labels: none

update docs
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
Labels: none

Update docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_arm64.md
Labels: none

Deployed b5c17e87 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/includes/_layer_homepage_arm64/index.html
  develop/includes/_layer_homepage_x86/index.html
  develop/index.html
  develop/search/search_index.json
Labels: none

Put 'deprecated' param before 'middlewares'
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Remove workaround
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Add test case for deprecated POST operation
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: none

Add 'deprecated' param to BedrockAgentResolver methods
  aws_lambda_powertools/event_handler/bedrock_agent.py
Labels: none

Small changes + trigger pipeline
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/_openapi_customization_operations.md
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: none

Deployed 4c6d1969 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/event_handler/_openapi_customization_operations/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/bedrock_agents/index.html
  develop/search/search_index.json
Labels: none

chore(ci): new pre-release 3.3.1a21
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a21/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Fix Python3.8/3.9
  aws_lambda_powertools/utilities/idempotency/serialization/functions.py
Labels: none

Make mypy happy
  aws_lambda_powertools/utilities/idempotency/serialization/functions.py
Labels: none

Deployed 4e2e4521 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Deployed 1575b407 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/index.html
  develop/search/search_index.json
Labels: none

fix(ci): Add overwrite to SSM write
  .github/workflows/update_ssm.yml
Labels: none

revert from the original file
  aws_lambda_powertools/utilities/parser/parser.py
  tests/functional/parser/test_parser.py
Labels: none

revert another test
  tests/functional/parser/test_parser.py
Labels: none

chore(ci): bump version to 3.4.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

Adding missing region in matrix
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Labels: none

chore(ci): bump version to 3.4.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): new pre-release 3.4.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a0/multiple.intoto.jsonl
  pyproject.toml
Labels: none

Deployed 0cff2df4 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Updating the documentation
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Labels: documentation

Deployed 9a961ec9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/includes/_layer_homepage_arm64/index.html
  develop/includes/_layer_homepage_x86/index.html
  develop/index.html
  develop/search/search_index.json
Labels: none

Deployed 9a961ec9 to 3.4.0 with MkDocs 1.6.1 and mike 2.1.3
  3.4.0/changelog/index.html
  3.4.0/core/logger/index.html
  3.4.0/core/metrics/datadog/index.html
  3.4.0/core/metrics/index.html
  3.4.0/core/tracer/index.html
  3.4.0/includes/_layer_homepage_arm64/index.html
  3.4.0/includes/_layer_homepage_x86/index.html
  3.4.0/index.html
  3.4.0/search/search_index.json
  3.4.0/sitemap.xml.gz
Labels: none

Deployed 1261c07a to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

Making it work in python 3.8 and 3.9
  aws_lambda_powertools/utilities/idempotency/serialization/functions.py
Labels: none

Making it work in python 3.8 and 3.9
  aws_lambda_powertools/utilities/idempotency/serialization/functions.py
Labels: none

Deployed 7a7f10c9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/utilities/idempotency/index.html
Labels: none

Deployed c47d4517 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/requirements.txt
Labels: none

chore(ci): new pre-release 3.4.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.4.1a1/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

.github/labeler.yml:

# Label general purpose utilities
area/utilities:
  - aws_lambda_powertools_python/utilities/*
  - aws_lambda_powertools_python/utilities/**/*
  - aws_lambda_powertools_python/middleware_factory/*
  - aws_lambda_powertools_python/middleware_factory/**/*

# Label core utilities
area/logger:
  - aws_lambda_powertools_python/logging/*
  - aws_lambda_powertools_python/logging/**/*  

area/tracer:
  - aws_lambda_powertools_python/tracing/*
   - aws_lambda_powertools_python/tracing/**/*
 
area/metrics:
  - aws_lambda_powertools_python/metrics/*
   - aws_lambda_powertools_python/metrics/**/*
 
documentation:
  - docs/*
  - ./mkdocs.yml
 
internal:
  - ./Makefile
  - ./CHANGELOG.md
  - ./CONTRIBUTING.md
