Repository aws-powertools/aws-lambda-powertools-python, changes with the labels that .github/labeler.yml gives for each.
All labels: area/utilities, area/logger, area/tracer, area/metrics, documentation, internal

Add param and pass along in ApiGatewayResolver.route
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Add param and pass along in Router.route, workaround for include_router
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

Functional tests
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: none

Formatting
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/utilities/parser/models/apigw_websocket.py
  tests/unit/metrics/test_functions.py
  tests/unit/parser/_pydantic/test_apigw_websockets.py
Labels: none

chore(ci): new pre-release 3.3.1a17
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a17/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed e69c98c9 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

chore(ci): new pre-release 3.3.1a18
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a18/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

feat(ssm): Parameters for resolving to versioned layers
  .github/workflows/update_ssm.yml
Labels: none

feat(region): Region Build
  .github/workflows/bootstrap_region.yml
Labels: none

update role name
  .github/workflows/bootstrap_region.yml
Labels: none

Refactor to use defaultdict
  aws_lambda_powertools/event_handler/api_gateway.py
Labels: none

add pydatinc validationError
  aws_lambda_powertools/utilities/parser/parser.py
Labels: none

removed unnecessary exc from exceptions
  aws_lambda_powertools/utilities/parser/parser.py
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

Deployed f0d32f41 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Deployed f9b4dafa to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/Dockerfile
Labels: none

add two more validation error tests
  tests/functional/parser/test_parser.py
Labels: none

add more specific error tests
  tests/functional/parser/test_parser.py
Labels: none

remove one specific error test
  tests/functional/parser/test_parser.py
Labels: none

fix doc and add more test
  tests/functional/parser/test_parser.py
Labels: none

change funct doc and more tests
  aws_lambda_powertools/utilities/parser/parser.py
  tests/functional/parser/test_parser.py
Labels: none

remove unused import
  tests/functional/parser/test_parser.py
Labels: none

change error message
  tests/functional/parser/test_parser.py
Labels: none

Move deprecated operation tests into separate test case
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: none

Simplify test case
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Labels: none

chore(ci): new pre-release 3.3.1a19
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a19/multiple.intoto.jsonl
  pyproject.toml
Labels: none

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

updates header for workflow
  .github/workflows/bootstrap_region.yml
Labels: none

add description block
  .github/workflows/update_ssm.yml
Labels: none

fix typo
  .github/workflows/update_ssm.yml
Labels: none

add docs
  docs/index.md
Labels: documentation

chore(ci): new pre-release 3.3.1a20
  aws_lambda_powertools/shared/version.py
  provenance/3.3.1a20/multiple.intoto.jsonl
  pyproject.toml
Labels: none

fix ssm placement
  docs/index.md
Labels: documentation

chore(ci): changelog rebuild
  CHANGELOG.md
Labels: internal

fix(ci): Dry run was accidentally enabled
  .github/workflows/bootstrap_region.yml
Labels: none

Deployed 264a4d9c to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

.github/labeler.yml:

# Label general purpose utilities
area/utilities:
  - aws_lambda_powertools_python/utilities/*
  - aws_lambda_powertools_python/utilities/**/*
  - aws_lambda_powertools_python/middleware_factory/*
  - aws_lambda_powertools_python/middleware_factory/**/*

# Label core utilities
area/logger:
  - aws_lambda_powertools_python/logging/*
  - aws_lambda_powertools_python/logging/**/*  

area/tracer:
  - aws_lambda_powertools_python/tracing/*
   - aws_lambda_powertools_python/tracing/**/*
 
area/metrics:
  - aws_lambda_powertools_python/metrics/*
   - aws_lambda_powertools_python/metrics/**/*
 
documentation:
  - docs/*
  - ./mkdocs.yml
 
internal:
  - ./Makefile
  - ./CHANGELOG.md
  - ./CONTRIBUTING.md
